<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="servidor" value="localhost"/>
		<add key="puerto" value="3306"/>
		<add key="database" value="gestor_enfermeria"/>
		<add key="userDB" value="root"/>
		<add key="passwordDB" value="1234"/>
	</appSettings>
	<connectionStrings>
		<add name="GestorEnfermeria" connectionString="Server=localhost;Port=3306;Database=gestor_enfermeria;User=root;Password=1234;" />
	</connectionStrings>
</configuration>